body {
  margin: 0;
  min-width: 2048px;
  background-color: #d56e2c;
}

#line {
  position: absolute;
  width: 1187px;
  height: 966px;
  left: 306px;
  top: 324px;
  z-index: 23;
}

#os {
  position: absolute;
  width: 1515px;
  height: 29px;
  left: 305px;
  top: 1274px;
  z-index: 22;
}

#os-1 {
  position: absolute;
  width: 28px;
  height: 1171px;
  left: 294px;
  top: 119px;
  z-index: 21;
}

#stlb {
  position: absolute;
  width: 1447px;
  height: 187px;
  left: 309px;
  top: 1105px;
  background-color: #da7d42;
}

#stlb-1 {
  position: absolute;
  width: 1447px;
  height: 187px;
  left: 309px;
  top: 737px;
  background-color: #da7d42;
}

#stlb-2 {
  position: absolute;
  width: 1447px;
  height: 186px;
  left: 309px;
  top: 370px;
  background-color: #da7d42;
}

#txt {
  position: absolute;
  width: 356px;
  height: 72px;
  left: 493px;
  top: 1176px;
  z-index: 17;
}

#txt-1 {
  position: absolute;
  width: 174px;
  height: 53px;
  left: 325px;
  top: 1061px;
  z-index: 16;
}

#txt-2 {
  position: absolute;
  width: 614px;
  height: 77px;
  left: 689px;
  top: 1000px;
  z-index: 15;
}

#txt-3 {
  position: absolute;
  width: 184px;
  height: 48px;
  left: 510px;
  top: 906px;
  z-index: 14;
}

#txt-4 {
  position: absolute;
  width: 358px;
  height: 77px;
  left: 884px;
  top: 842px;
  z-index: 13;
}

#txt-5 {
  position: absolute;
  width: 155px;
  height: 48px;
  left: 736px;
  top: 749px;
  z-index: 12;
}

#txt-6 {
  position: absolute;
  width: 356px;
  height: 78px;
  left: 1092px;
  top: 683px;
  z-index: 11;
}

#txt-7 {
  position: absolute;
  width: 162px;
  height: 49px;
  left: 930px;
  top: 590px;
  z-index: 10;
}

#txt-8 {
  position: absolute;
  width: 378px;
  height: 78px;
  left: 1285px;
  top: 519px;
  z-index: 9;
}

#txt-9 {
  position: absolute;
  width: 100px;
  height: 49px;
  left: 1189px;
  top: 429px;
  z-index: 8;
}

#txt-10 {
  position: absolute;
  width: 30px;
  height: 202px;
  left: 227px;
  top: 1048px;
  z-index: 7;
}

#txt-11 {
  position: absolute;
  width: 36px;
  height: 147px;
  left: 224px;
  top: 189px;
  z-index: 6;
}

#txt-12 {
  position: absolute;
  width: 40px;
  height: 535px;
  left: 222px;
  top: 436px;
  z-index: 5;
}

#txty {
  position: absolute;
  width: 159px;
  height: 34px;
  left: 321px;
  top: 1331px;
  z-index: 4;
}

#txty-1 {
  position: absolute;
  width: 210px;
  height: 34px;
  left: 925px;
  top: 1330px;
  z-index: 3;
}

#txty-2 {
  position: absolute;
  width: 129px;
  height: 37px;
  left: 1646px;
  top: 1328px;
  z-index: 2;
}
#wraper{
  position: absolute;
  width: 2048px;
  z-index: 99;
  margin-top: 650px;
}

#btn {
  width: 1400px;
  margin: auto;
  border: 0px solid transparent;
  background-color: #db7d42;
  text-align: center;
  font: 60px/72px Helvetica Neue, sans-serif;
  color: #fff;
  letter-spacing: normal;
  padding: 20px 100px;
}
#ring {
  position: absolute;
  width: 50px;
  height: 51px;
  left: 1925px;
  top: 1472px;
  z-index: 1;
}
.txty, .st, .os, .stlb, .line, .txt {
  visibility: hidden;
}
