body {
  margin: 0;
  min-width: 2048px;
  background-color: #d56e2c;
}

#line {
  transform-origin: bottom;
-webkit-transform-origin: bottom;
    position: absolute;
  width: 20px;
  height: 221px;
  left: 1464px;
  top: 1242px;
  z-index: 48;
}

#line-1 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 1244px;
  height: 4px;
  left: 232px;
  top: 1460px;
  z-index: 47;
  background-color: #b2abaa;
}

#line-2 {
  transform-origin: top;
-webkit-transform-origin: top;
    position: absolute;
  width: 4px;
  height: 71px;
  left: 232px;
  top: 1393px;
  z-index: 46;
  background-color: #b2abaa;
}

#line-3 {
  transform-origin: bottom;
-webkit-transform-origin: bottom;
    position: absolute;
  width: 4px;
  height: 41px;
  left: 430px;
  top: 1353px;
  z-index: 45;
  background-color: #b2abaa;
}

#line-4 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 401px;
  height: 4px;
  left: 33px;
  top: 1391px;
  z-index: 44;
  background-color: #b2abaa;
}

#line-5 {
  transform-origin: top;
-webkit-transform-origin: top;
    position: absolute;
  width: 4px;
  height: 41px;
  left: 33px;
  top: 1353px;
  z-index: 43;
  background-color: #b2abaa;
}

#line-6 {
  transform-origin: top;
-webkit-transform-origin: top;
    position: absolute;
  width: 20px;
  height: 97px;
  left: 1466px;
  top: 1000px;
  z-index: 42;
}

#line-7 {
  transform-origin: right;
-webkit-transform-origin: right;
    position: absolute;
  width: 409px;
  height: 4px;
  left: 1476px;
  top: 1000px;
  z-index: 41;
  background-color: #b2abaa;
}

#line-8 {
  transform-origin: top;
-webkit-transform-origin: top;
    position: absolute;
  width: 4px;
  height: 116px;
  left: 1881px;
  top: 887px;
  z-index: 40;
  background-color: #b2abaa;
}

#line-9 {
  transform-origin: bottom;
-webkit-transform-origin: bottom;
    position: absolute;
  width: 4px;
  height: 41px;
  left: 2008px;
  top: 849px;
  z-index: 39;
  background-color: #b2abaa;
}

#line-10 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 259px;
  height: 4px;
  left: 1753px;
  top: 886px;
  z-index: 38;
  background-color: #b2abaa;
}

#line-11 {
  transform-origin: top;
-webkit-transform-origin: top;
    position: absolute;
  width: 4px;
  height: 41px;
  left: 1753px;
  top: 849px;
  z-index: 37;
  background-color: #b2abaa;
}

#st {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 74px;
  height: 10px;
  left: 425px;
  top: 1311px;
  z-index: 36;
}

#st-1 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 74px;
  height: 10px;
  left: 425px;
  top: 1160px;
  z-index: 35;
}

#st-2 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 74px;
  height: 10px;
  left: 425px;
  top: 916px;
  z-index: 34;
}

#st-3 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 74px;
  height: 10px;
  left: 425px;
  top: 765px;
  z-index: 33;
}

#st-4 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 74px;
  height: 10px;
  left: 425px;
  top: 536px;
  z-index: 32;
}

#st-5 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 74px;
  height: 10px;
  left: 425px;
  top: 422px;
  z-index: 31;
}

#st-6 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 74px;
  height: 10px;
  left: 425px;
  top: 308px;
  z-index: 30;
}

#st-7 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 74px;
  height: 10px;
  left: 425px;
  top: 194px;
  z-index: 29;
}

#c {
    position: absolute;
  width: 684px;
  height: 167px;
  left: 1134px;
  top: 1089px;
  z-index: 28;
}

#c-1 {
    position: absolute;
  width: 257px;
  height: 248px;
  left: 1756px;
  top: 644px;
  z-index: 27;
}

#c-2 {
    position: absolute;
  width: 365px;
  height: 248px;
  left: 1348px;
  top: 644px;
  z-index: 26;
}

#c-3 {
    position: absolute;
  width: 365px;
  height: 248px;
  left: 940px;
  top: 644px;
  z-index: 25;
}

#c-4 {
    position: absolute;
  width: 365px;
  height: 130px;
  left: 510px;
  top: 1240px;
  z-index: 24;
}

#c-5 {
    position: absolute;
  width: 365px;
  height: 130px;
  left: 510px;
  top: 1118px;
  z-index: 23;
}

#c-6 {
    position: absolute;
  width: 365px;
  height: 130px;
  left: 510px;
  top: 838px;
  z-index: 22;
}

#c-7 {
    position: absolute;
  width: 365px;
  height: 130px;
  left: 510px;
  top: 716px;
  z-index: 21;
}

#c-8 {
    position: absolute;
  width: 365px;
  height: 180px;
  left: 510px;
  top: 368px;
  z-index: 20;
}

#c-9 {
    position: absolute;
  width: 365px;
  height: 180px;
  left: 510px;
  top: 191px;
  z-index: 19;
}

#c-10 {
    position: absolute;
  width: 382px;
  height: 134px;
  left: 43px;
  top: 1249px;
  z-index: 18;
}

#c-11 {
    position: absolute;
  width: 382px;
  height: 134px;
  left: 43px;
  top: 1098px;
  z-index: 17;
}

#c-12 {
    position: absolute;
  width: 382px;
  height: 134px;
  left: 43px;
  top: 854px;
  z-index: 16;
}

#c-13 {
    position: absolute;
  width: 382px;
  height: 134px;
  left: 43px;
  top: 703px;
  z-index: 15;
}

#c-14 {
    position: absolute;
  width: 382px;
  height: 98px;
  left: 43px;
  top: 492px;
  z-index: 14;
}

#c-15 {
    position: absolute;
  width: 382px;
  height: 98px;
  left: 43px;
  top: 378px;
  z-index: 13;
}

#c-16 {
    position: absolute;
  width: 382px;
  height: 98px;
  left: 43px;
  top: 264px;
  z-index: 12;
}

#c-17 {
    position: absolute;
  width: 382px;
  height: 98px;
  left: 43px;
  top: 150px;
  z-index: 11;
}

#back {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 382px;
  height: 285px;
  left: 499px;
  top: 1098px;
  z-index: 10;
  background-color: #db7d42;
}

#back-1 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 382px;
  height: 285px;
  left: 499px;
  top: 703px;
  z-index: 9;
  background-color: #db7d42;
}

#back-2 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 382px;
  height: 440px;
  left: 499px;
  top: 150px;
  z-index: 8;
  background-color: #db7d42;
}

#sts {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 145px;
  height: 4px;
  left: 881px;
  top: 368px;
  z-index: 7;
  background-color: #434140;
}

#sts-1 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 145px;
  height: 4px;
  left: 881px;
  top: 1157px;
  z-index: 6;
  background-color: #434140;
}

#sts-2 {
  transform-origin: top;
-webkit-transform-origin: top;
    position: absolute;
  width: 20px;
  height: 282px;
  left: 1014px;
  top: 370px;
  z-index: 5;
}

#sts-3 {
  transform-origin: bottom;
-webkit-transform-origin: bottom;
    position: absolute;
  width: 20px;
  height: 282px;
  left: 1014px;
  top: 877px;
  z-index: 4;
}

#sts-4 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 68px;
  height: 20px;
  left: 881px;
  top: 755px;
  z-index: 3;
}

#sts-5 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 65px;
  height: 10px;
  left: 1293px;
  top: 758px;
  z-index: 2;
}

#sts-6 {
  transform-origin: left;
-webkit-transform-origin: left;
    position: absolute;
  width: 65px;
  height: 10px;
  left: 1701px;
  top: 758px;
  z-index: 1;
}
#wraper{
    position: absolute;
  width: 2048px;
  z-index: 99;
  margin-top: 650px;
}

#btn {
  width: 1400px;
  margin: auto;
  border: 0px solid transparent;
  background-color: #db7d42;
  text-align: center;
  font: 60px/72px Helvetica Neue, sans-serif;
  color: #fff;
  letter-spacing: normal;
  padding: 20px 100px;
}
#ring {
    position: absolute;
  width: 50px;
  height: 51px;
  left: 1925px;
  top: 1472px;
  z-index: 1;
}
.c, .st, .sts, .cr, .line {
  visibility: hidden;
}